config.stopBubbling = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.cw.CwQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.exa.ExaQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.fc.FcQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.fp.FpQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.inf.IfQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.kz.KzQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.sc.ScQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.sz.SzQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.tis.TISQualifier
lombok.anyConstructor.addConstructorProperties=true