config.stopBubbling = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.cw.CwQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.fp.FpQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.inf.IfQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.sc.ScQualifier
lombok.copyableannotations += com.faendir.zachtronics.bot.sz.SzQualifier
lombok.anyConstructor.addConstructorProperties=true