<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title>Opus Magnum Leaderboard</title>
</head>
<body id="top">
<div class="content">
    <div class="group">
        <h1><a href=".."><img src="../img/home.png" alt="home"></a></h1>
    </div>
    <div class="group">
        %s
        <p>Page last updated on %s.</p>
    </div>
    <div class="tables">
        %s
        <a href="#top" class="right">Back to top</a>
    </div>
</div>
</body>
</html>