name: pipeline

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Yarn Cache
        uses: actions/cache@v3
        with:
          path: 'web/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('web/yarn.lock') }}

      - name: Gradle Tests
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: |
            build/test-results/**/*.xml
            native/build/test-results/**/*.xml

  publish:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Yarn Cache
        uses: actions/cache@v3
        with:
          path: 'web/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('web/yarn.lock') }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build release
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: :bootJar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish release
        uses: docker/build-push-action@v4
        with:
          context: "."
          push: true
          tags: docker.io/f43nd1r/zachtronics-leaderboard-bot:latest
          platforms: |
            linux/amd64
